#menu1{
    background-color: #0A122A;
    margin-top: -8px;
}
#menu2{
    background-color: #0B243B ;
    margin-top: -20px;
}
#menu1 ul {
    list-style: none;
    display: inline-block;
}
#menu1 li {
    display: inline;
    display: inline-block;
    text-align: center;
    padding: 4px 140px;
}
}
#menu2 ul {
    list-style: none;
}
#menu2 li {
    display: inline;
    display: inline-block;
    text-align: center;
    padding: 5px 144px;
}
body{
    color: white;
    font-family: serif;
    background-color: gray;
}
a {
    text-decoration: none;
    color: white;
}
#quad {
    height: 90%;
    background: #0B243B;
    margin-left: 60px;
    margin-top: -15px;
    margin-right: 60px;
}
 #an{
    display: block;
    margin-left: 100px;
}
tr{
    display: block;
    text-align: center;
    background-color: gray;
    height: 40px;
    width: 650px;
    margin-left: 98px;
}
